/*header开始*/
#header{
    height: 250px;
    background: url("../img/banner_banner.png") no-repeat;
    margin-bottom:60px;
}
#header_begin{
    height:100px;
    /*background: #0f0;*/
}
.header_log ,.header_my, .header_cart{
    width: 380px;
    height: 100px;
    float: left;
}
.header_log ,.header_my{
    line-height: 100px;
    color: #fff;
}
.header_my{
    font-size:1.4em;
}
.cart_count{
    height: 35px;
    width: 245px;
    padding: 5px 10px;
    background: #000;
    opacity: .5;
    /*filter:alpha(opcity=50);*/
    margin-top: 25px;
    line-height: 35px;
    text-align: center;
    margin-left: 115px;
}
.cart_count span{
    color: #fff;
}
.cart_count img {
    vertical-align: middle;
}
.cart_clear{
    height: 30px;
    width: 265px;
    color: #fff;
    line-height:30px;
    text-align: center;
    margin-left: 115px;
}
#header_begin .header_log a{
    color: #fff;
}
#header_begin .header_log a:hover{
    text-decoration:underline;
}
#nav{
    height: 40px;
}
#nav .nav_li{
    height: 40px;
    width: 190px;
    float: left;
    background: #fa558f;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
}
#nav .nav_li_new{
    background: #3c3b3b;
}
#nav .nav_li:hover{
    background: #3c3b3b;
}
#nav .nav_li a{
    color: #fff;
    width: 100%;
    height: 100%;
    display: block
font-size:16px;
}
#submenu{
    width: 1140px;
    height: 300px;
    background: #fff;
    margin-left: -190px;
    display: none;
}
#nav .makeup:hover #submenu{
    display: block;
}
#submenu .submenu_intro{
    width: 200px;
    height: 300px;
    /*background: #00ff00;*/
    float: left;
    margin-right: 10px;
}
#submenu .submenu_intro p{
    text-align: left;
    color: #000;
    width: 200px;
    height: 40px;
    margin-top: 10px;
    font-size: 15px;
    text-indent: 10px;
    border-bottom: 1px solid #cccccc;
}
#submenu .submenu_intro li{
    font-size: 14px;
    text-align: left;
    height: 30px;
    text-indent: 10px;
}
#submenu .submenu_intro a{
    color: #cccccc;
}
#submenu .submenu_intro a:hover{
    text-decoration: underline;
    color: #EA3939 ;
}
/*header结束*/
/*banner开始*/
#banner{
    height:600px;
}
#banner .banner_title{
    height: 50px;
    line-height:50px;
    font-size:2.0em;
}
#banner .banner_login{
    height:380px;
}
#banner .banner_login_l{
    height:280px;
    width:570px;
    margin-top:50px;
    float:left;
    margin-bottom: 20px;
}
#banner .banner_login_register{
    height:170px;
    width:570px;
    float:left;
}
#banner .login_user_name{
    margin-bottom: 20px;
}
#banner .banner_login_l h3{
    height: 30px;
    line-height: 30px;
    font-size: 1.5em;
    font-weight: 300;
    margin-bottom: 5px;
}
#banner .banner_login_l input{
    display:block;
    height:40px;
    width:400px;
}
.banner_login_btn button{
    height:40px;
    line-height:40px;
    width: 140px;
    border: 0;
    background: #ef8743;
    color:#fff;
    font-size:16px;
    margin-top:20px;
    border-radius:10px;
}
.banner_login_btn button:hover{
    background: #ffffff;
    color:#000;
    border: 1px solid #000;
}
#banner .banner_login_l a{
    display:block;
    height:20px;
    margin-top:10px;
    line-height:20px;
    color:#7b7a7a;
    text-decoration: underline;
    font-size:16px;
}
#banner .banner_login_register h2{
    color:#ef8743;
    height:30px;
    line-height:30px;
    margin-bottom:10px;
}
#banner .login_register_p{
    height:50px;
    line-height:20px;
    color:#7b7a7a;
    margin-bottom:20px;
}
.login_register_btn button{
    height:40px;
    line-height:40px;
    width: 140px;
    border: 1px solid #000;
    background: #ffffff;
    color:#000;
    font-size:16px;
    border-radius:10px;
}
.login_register_btn button:hover{
    background: #ef8743;
    color:#fff;
    border:0;
}
/*banner结束*/
/*footer开始*/
#footer{
    height:80px;
    background: #fa558f;
}
.footer_my_h{
    line-height: 80px;
    float: left;
}
.footer_my_h a{
    color:#fff;
}
.footer_my_h a:hover{
    color:#3C3B3B;
}
.footer_btf{
    float: right;
    line-height: 80px;
    font-size: 16px;
}
.footer_btf{
    color:#fff;
}
/*footer结束*/
